.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
pythonenv/

## Thư mục build và rác của VS/Rider
bin/
obj/
.vs/
.idea/
*.user
*.userosscache
*.sln.docstates

__pycache__/
xlm_roberta_offense_model/
*.py
*.csv
bad_words_vn.txt
expanded_bad_words_vn.txt

## Chặn file cấu hình chứa thông tin bảo mật
appsettings.json
appsettings.Development.json

## File rác hệ thống
.DS_Store
Thumbs.db